@media only screen and (max-width: 991px) {

    .nav__sec__titre h2,p,button{
        margin-top:5%; 


}

    .list{
        flex-wrap: wrap;
        .card{
            width: 30%;
            margin-top: 5%;
        }
    }
}
@media only screen and (max-width: 750px) {
    
    .nav__sec__titre h2,p,button{
        margin-top:5%; 


}

    .list{
        flex-wrap: wrap;
        @extend %center;
        .card{
            width: 80%;
            margin-top: 5%;
        }
    }

}