@import "./utils/vars" ;

//----------main-page-------//

.global-frame{
    margin: 0%;
    width: $width-complet;
}
body{
    overflow-x: hidden;
}
*{
    font-family: "Roboto", sans-serif;
    margin: 0%;
}
.loader{
    position: fixed;
    inset: 0;
    background-color: rgb(24, 23, 23);
    z-index: 1;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: fade 2s;
            animation: fade 2s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    span{
    font-family: "Shrikhand";
    color: $color-one; 
    -webkit-animation: color 1s 2 linear; 
            animation: color 1s 2 linear;
    }
}
.header{
    width: $width-complet;
   
 &__logo{
   
    h1{
        font-family: "Shrikhand";
        @extend %center
    }
}
}
form{
     box-shadow: 0 5px 2px -2px rgb(180, 180, 180) inset;
     width: $width-complet;
     padding: $padding;
     background: $bg-color;
     height: 50px;
   @extend %center;
   input{
       padding: $padding;
       border:none ;
       background: $bg-color;
       font-size: 90%;
       border-radius: 10px ;
   }
   i{
       padding: $padding;
       color:#353535
   }  
 }

.nav{
    background-color: #f8f8f8;
    padding-bottom: 5%;
     width: 100%;
 
 &__sec{
    
    
     &__btn{
        @extend %center;
        .btn {
            @media only screen and (max-width: 750px){
                font-size: 100%;
            padding: 5%;
            } 
    border-radius: 30px;
    font-size: 90%;
      padding: 2%;
      background: linear-gradient(
        355deg, $color-one 0%, $color-two 10%, $color-three 100%);
         box-shadow: 0px 0px 25px 10px hsla(0, 0%, 50%, 0.329);
        color:white;
    border: none;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.4s;
        @media only screen and (max-width: 991px) {
         
            margin-top:5%; 
           
    
    
    }
    }

}
    .nav__sec__titre h2,p{
        margin-top:3%; 
         padding: $padding;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
 @extend %center;
 align-items: center;
 @media only screen and (max-width: 750px){
     flex-wrap: wrap;} }
 


    }
}
.resto__titre h2{
    margin-left: 3%;
}
    .btn:hover{
        opacity: 0.6;
        transform: scale(1.05);
        transition-duration: 0.4s;
    }
    .box__title{
        margin: 3%;
    }
    .box__list{
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
        @media only screen and (max-width: 991px) {
       
            flex-wrap: wrap;
            .card{
                width: 30%;
                margin-top: 5%;
            }
        }
        @media only screen and (max-width: 750px) {
               
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                .card{
                    height: 60px;
                    width: 80%;
                    margin-top: 5%;
                }
            }
        
    }
    .card{
        border-radius: 20px;
        font-size: 110%;
          padding: 2%;
          box-shadow: 0px 0px 25px 10px hsla(0, 0%, 73%, 0.329);
          width:20%;
          background-color: #e4e3e3;
          overflow: visible;
          display: flex;
        justify-content: space-around;
        align-items: center;

          &__num{
              background-color: $color-two;
              color: white;
              padding: 2% 4% 2% 4%;
              border-radius: 100%;
            margin-left: -19%;
            @media only screen and (max-width: 750px){
                margin-left: -10%;
            } 
            @media only screen and (max-width: 991px) {
                margin-left: -15%;
               
        
        
        }
          }
          &__icon{
              color: #797979;
          }

    }
    .card:hover{
        background-color:rgba(146, 78, 211, 0.171);
    & i{
color: $color-two;
    }
}
a{
   color: black;
    text-decoration: none;
    &:visited{
        color: black;
    }
}

.new{
    background-color: #b9ecb9;
    padding: 3%;
    color: #306b4d;
    font-weight: bold;
    float: right;
    overflow: visible;
    position: absolute;
    top: -5px;
    right: 5px;
    border-radius: 5px;
    @media only screen and (max-width: 750px) {
        margin-top: 3%;
    }

}
.menu{
    
    width: 100%;
        display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media only screen and (max-width: 750px){
        display: flex;
        justify-content: center;
    }
}
    .menu__item{
        @media only screen and (max-width: 750px){
            width: 90%;
            font-size:90% ;
            p{
                margin-top: 3%;
            }
        }      
    border-radius: 20px;
transform: scale(1); 
   transition-property: transform;
    transition-duration: 0.5s;
    width: 40%;
    margin-top: 10%;
    box-shadow: 0px 0px 25px 10px hsla(0, 0%, 50%, 0.329);
    &__img{
    position: relative;
    width: 100%;   
    overflow: visible;
  
    }
overflow: hidden; }
   

.menu__item:hover{
    transform: scale(1.03);
    transition-duration: 0.4s;
}
.menu__item__text{
    padding-left: 3%;
    height: 100px;
    
   h3,p{
       padding-top: 2%;
       font-size: 150%;
   }
}

.like{
    font-size: 80%;
    float: right;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-top:-8% ;
     @media only screen and (max-width: 750px){
        font-size: 60%;
        margin-top:-3% ;
    } 
}
.like:hover{
    color: transparent;
    transition: 1ms;
}
.liked{
    cursor: pointer;
    color: transparent;
    
}
.like:hover .liked{

  -webkit-background-clip: text;
  background-clip:text;
  -webkit-animation: coloring 500ms  ;
          animation: coloring 500ms  ;
  transition: ease-in 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

}

footer{
    margin-top: 8%;
    height: auto;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color:white;
    font-size: 120%;
    color: white;
    position: relative;
    transition: color 25ms linear;
    width: 100%;
    background-color: #353535;
    color: white;
    @media only screen and (max-width: 750px) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    p a{
    font-family: "Shrikhand";
    font-size: 130%;
}
    li{
       padding-top: 5%;  
       
} 
a{
    opacity: 1;   
    color: white;
    transition: all 2s linear ;
}
}


  footer ul{
      list-style-type: none;
    display: flex;
  flex-direction: column;
 
  }
  footer a:hover {
    -webkit-text-fill-color: transparent;
    opacity: 1;
    cursor: pointer;
    -webkit-animation: coloring 50ms  ;
            animation: coloring 50ms  ;
    -webkit-background-clip: text;
            background-clip: text;
    transition: ease-in 2s;
transition-delay:0s ;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

//---------------------------Menu----------------------------//
