$bg-color:#eaeaea;
$width-complet:100%;
$padding: 1%;
$color-one:#49499c;
$color-two:#9356dc;
$color-three:#ff79da;
%center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@keyframes coloring {
   
    0%{
        background: linear-gradient(
            201deg, #6464b7 0%, #a16be0 51%, #ff93e1 80%);
             -webkit-background-clip: text; }
             25%{
                background: linear-gradient(
                    201deg, #6464b7 0%, #a16be0 49%, #ff93e1 90%);
                     -webkit-background-clip: text; }
    50%{
        background: linear-gradient(
            201deg, #6464b7 0%, #a16be0 41%, #ff93e1 100%);
             -webkit-background-clip: text; }

     100%{
        background: linear-gradient(
            201deg, #6464b7 0%, #a16be0 31%, #ff93e1 100%);
              -webkit-background-clip: text; }
}
@-webkit-keyframes fadein{
    0%{
        opacity: 0;
        margin-top: 10%;
    }
    100%{
        opacity: 1;
        margin-top: 3%;
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
        margin-top: 10%;
    }
    100%{
        opacity: 1;
        margin-top: 3%;
    }
}
@-webkit-keyframes fade{
    0%{
        opacity: 1;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@keyframes fade{
    0%{
        opacity: 1;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@-webkit-keyframes color{
    0%{
        color: $color-one;
    }
    25%{
        color: $color-two;
    }
    50%{
        color: $color-three;
    }
    75%{
        color: $color-two;
    }
    100%{
        color: $color-one;
    }
}
@keyframes color{
    0%{
        color: $color-one;
    }
    25%{
        color: $color-two;
    }
    50%{
        color: $color-three;
    }
    75%{
        color: $color-two;
    }
    100%{
        color: $color-one;
    }
}