$bg-color:#eaeaea;
$width-complet:100%;
$padding: 1%;
$color-one:#4a4a9e;
$color-two:#9356dc;
$color-three:#ff79da;
%center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin hover($color) {
    @if darken($color) {
      $color: complement($color-primary);
    }@else{
      $color: adjust-hue($color, -163);
    }
    background: $color;
  }